.material-icons-cancel
{
    position: relative !important;
    top: 0px;
    left: 0px;
}

.mdl-button-show-details
{
    position: relative !important;
    top: 0px;
    left: 0px;
    width: fit-content !important;
}