.imageLogo {
  opacity: 0; 
  height: 100px;
  width: 100px; 
  animation: opacityOn 5s normal forwards;
  animation-delay: 2s;
}

@keyframes opacityOn {
  0% {
      opacity: 1;
  }
  25% {
      opacity: 0;
  }
  50% {
      opacity: 1;
  }
  75% {
      opacity: 0;
  }
  100% {
      opacity: 1;
  }
}
img {
  display: block;
  margin-left: 580%;
  margin-right: 310%;
  margin-top: 400%;
  margin-bottom: 300%;
}